{% load static %}
<div class="py-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <i class="fa-solid fa-location-dot head-bar-icons"></i>
                <span class="head-bar-txt"> Koninginnenpage 6, 8607HP Sneek </span>
            </div>
            <div class="col-sm">
                <i class="fa-sharp fa-solid fa-phone head-bar-icons"></i>
                <span class="head-bar-txt"> +31 6 39088288 </span>
            </div>
            <div class="col-sm">
                <i class="fa-solid fa-envelope head-bar-icons"></i>
                <span class="head-bar-txt"> info@fidesious.nl </span>
            </div>
        </div>        
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-white shadow p-2 bg-white header-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static '/img/logo_2018-1920x433.jpg' %}" alt="Logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Products</a></li>
            <li><a class="dropdown-item" href="#">Manuals</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Privacy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
