{% load static %}
{% include 'website/core/head.html' %}  
    <body class="">        
        {% include 'website/core/header.html' %}           
        <main>
            {% include 'website/core/banner.html' %} 
            <div class="container px-4">                
                {% block breadcrumbs %}
                {% endblock %}                
                {% block main %}                
                {% endblock %}
            </div>
        </main>
            {% include 'website/core/footer.html' %}                   
            {% include 'website/core/bottomScripts.html' %}
            {% include 'website/core/footer.html' %}
    </body>
</html>